@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #ff8503;
    --amarelo-degrade: linear-gradient(97.54deg, #eddc1f 35.49%, #d3d62e 165.37%);
    --fonte-principal: "Poppins";
    --amarelo: #fff701;
    --fonte-principal: "Poppins";
    --azul: #fff34a;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}